h2 {
	background-color: lightblue;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	color: darkblue;
	}
	
input[type = text], [type = email], [type = date] {
	width: 100%;
	padding: 5px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	}
input:focus { 
			background-color: lightblue;
			}
select {
		background-color: lightblue;
		width: 100%;
		padding: 16px 20px;
		border: none;
		border-radius: 4px;
		}
input[type=Submit], input[type=Reset]{
		background-color: blue;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		}
input[type=Submit]:hover {
		background-color: red;
		}
input[type=Reset]:hover {
		background-color: green;
		}
fieldset {
		border-radius: 5px;
		background-color: lightgray;
		padding: 20px;
		}
body {
	background-color: aqua;
	}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		